body{
    margin: 0px;
}
.cabeza{
    display: flex;
    background-color: #f2b600;
    padding: 20px;
    font-size: 20px;
    align-items: center;
    

}
.cabeza h1{
    margin: 0px auto;
    font-size: 40px;
    font-weight: bold;
    
    
}
button{
    padding: px 1px;
    border-radius: 10px;
    cursor: pointer;
    background: transparent;
    border: 2px solid black;
    
}
.cuerpo p{
    text-align: left;
    padding-left: 0%;
    text-align: justify;
    margin: 10px;
}
.cuerpo h3{
    margin: 10px;
}
.cuerpo img{

display: block;
margin: 0px 10px 20px 20px;
float: right;
border-radius: 5px;
}
footer{
    margin: 0px 10px ;
}
footer p{
    background-color: #f2b600;
    display: inline-block;
    float: right;
    padding: 2px;

}